[Unit]
Description=z13ctl daemon socket

[Socket]
ListenStream=%t/z13ctl/z13ctl.sock
SocketMode=0600
DirectoryMode=0700
RemoveOnStop=true

[Install]
WantedBy=sockets.target
